<% if current_user %>
<p>
  <%= @booking_requests.flatten.length %>
   Booking Request<% if @booking_requests.flatten.length != 1 %>s
  <%end%>
</p>
<p>
  <% @booking_requests.each do |space_bookings| %>
  <ul>

    <%=Space.get_name_of_space(space_bookings.first.space_id) %>
    <% space_bookings.each do |booking| %>
      <li>
        requested on <%= booking.date.strftime("%d/%m/%Y") %>
        <form action="/booking/approve?id=<%=booking.id%>" method="post">
          <input type="submit" id="approvalbutton" value="Approve">
        </form>
        <form action="/booking/reject?id=<%=booking.id%>" method="post">
          <input type="submit" id="rejectbutton" value="Reject">
        </form>
      </li>
    <% end %>
    </ul>
  <% end %>
</p>
<% else %>
<p>You must log in to see the Dashboard.</p>
<% end %>

<% if @confirmed == "true" %>
  <p>Request for <%= Space.get_name_of_space(Booking.get(params[:id].to_i).space_id) %> approved</p>
<% elsif @confirmed == "false" %>
  <p>Request for <%= @confirmed_space_name %> rejected</p>
<% end %>
