<form class="date-filter" action="/">
  <input class="grey-ui-box" type="date" name="date"></input>
  <input class="grey-ui-box" type="submit" value="See Available Spaces"></input>
</form>


<ul class="listings">
  <% @spaces.each do |space| %>
    <li class="space-listing">
      <div class="space-img">
        <a target="_blank" href="/space?id=<%= space.id %>">
          <img class="listing-img" src="<%= space.url %>">
        </a>
      </div>
      <div class="space-details">
        <a target="_blank" href="/space?id=<%= space.id %>">
          <h2 class="listing-name"><%= space.name %></h2>
          <p class="listing-desc"><%= space.description %></p>
          <p class="listing-price">£<%= space.price %></p>
        </a>
      </div>
    </li>
  <% end %>
</ul>
